dash==2.14.1
Flask==3.0.0
plotly==5.18.0

pandas~=2.2.0
numpy~=1.26.3
dash_deck~=0.0.1
pydeck~=0.8.0
geopandas~=0.14.2
scikit-learn~=1.4.0
ghhops_server~=1.5.5
pillow~=10.2.0
psycopg2~=2.9.9
SQLAlchemy~=2.0.25
hugchat~=0.3.10
openai~=1.10.0
python-dotenv~=1.0.1
