pandas~=2.2.2
ghhops_server~=1.5.5
Flask~=3.0.3
psycopg2-binary~=2.9.9
SQLAlchemy~=2.0.31
matplotlib~=3.9.2
numpy~=1.26.4
plotly~=5.18.0
requests~=2.32.3
dash_deck~=0.0.1
pydeck~=0.8.0
geopandas~=0.14.4
shapely~=2.0.4
dash~=2.14.2
dash_mantine_components~=0.14.3
pillow~=10.2.0
scikit-learn~=1.4.2
openai~=1.10.0
python-dotenv~=1.0.1
hugchat~=0.3.12
dash-bootstrap-components~=1.6.1rc2
openpyxl~=3.1.4
dash-iconify~=0.1.2
